.services {
  padding: 80px 0;
  width: 100%;
  background-color: #f9f9f9;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  gap: 20px;
  padding-top: 5%;
}

.service-card {
  background-color: #2d3436;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 400px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 1;
  color: white;
}

.service-card.hovered {
  transform: scale(1.5);
  z-index: 10;
}

.service-card.move-right {
  transform: translateX(75px);
}

.service-card.move-left {
  transform: translateX(-75px);
}

.service-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.service-title {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.service-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  overflow: hidden;
}

.service-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 150px;
}

.service-description {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

/* Медиа-запрос для адаптивности на мобильных устройствах */
@media (max-width: 992px) {
  .services-container {
    flex-direction: column;
    gap: 30px;
  }
  
  .service-card {
    width: 80%;
    max-width: 350px;
  }
  
  .service-card.hovered {
    transform: scale(1.2);
  }
  
  .service-card.move-right,
  .service-card.move-left {
    transform: none;
  }
}