.header {
  background-color: #000000;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 1rem;
  height: 100%;
  width: 100%;
  padding: 0%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 0 0 0 0;
  background-color: transparent;
}

.logo {
  height: 3rem;
  width: auto;
}

.contact-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.contact-button {
  background-color: #1e73be;
  color: white;
  padding: 0.6rem 1.5rem;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-button:hover {
  background-color: #0e5da3;
}